{% extends 'base.html' %}
{% block main %}
    {% if end == True %}
        <br>
        <br>
        <h2>Complimenti {{ current_user.username }}, hai terminato il test!</h2>
    {% else %}
        <h2>Ciao, {{ current_user.username }}!</h2>
        <br>
        <h4><a href="{{ url_for('test') }}">Giudica le foto!</a></li></h4>
        <br>
        <br>
        {% if is_empty %}
            <h3>Nessun test disponibile.</h3>
        {% else %}
            <h3>Seleziona il tipo di test:</h3>
            <form action="{{ url_for('start_test') }}" method="get">
                <select id="test" name="test">
                    {% for test in tests %}
                        <option value="{{ test.id }}">{{ test.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Inizia il test!">
            </form>
        {% endif %}
        {% if current_user.username == "admin" %}
            <h5>Pannello test filtro foto</h5>
            <form method="post">
                <input type="submit" name="a" value="Elimina preferenze">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
