{% extends 'base.html' %}
{% block main %}
    <h2>Lista utenti registrati</h2>
    <table border="1">
       <thead>
          <tr>
              <th>Username</th>
          </tr>
       </thead>
       <tbody>
          {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <form method="POST" action="/delete_user">
                        <input name="user_id" type="hidden" value="{{ user.id }}">
                        <input type="submit" value="Elimina User">
                    </form>
                </td>
            </tr>
          {% endfor %}
       </tbody>
    </table>

    <h2>Lista Photoshopper</h2>
    <table border="1">
       <thead>
          <tr>
              <th>ID Photoshopper</th>
              <th>Nome Photoshopper</th>
          </tr>
       </thead>
       <tbody>
          {% for photoshopper in photoshoppers %}
            <tr>
                <td>{{ photoshopper.id }}</td>
                <td>{{ photoshopper.name }}</td>
            </tr>
          {% endfor %}
       </tbody>
    </table>

    <h2>Lista Preferenze</h2>
    <table border="1">
       <thead>
          <tr>
              <th>ID Preferenza</th>
              <th>ID Utente</th>
              <th>ID Immagine</th>
              <th>ID Photoshopper</th>
          </tr>
       </thead>
       <tbody>
          {% for pref in prefs %}
            <tr>
                <td>{{ pref.id }}</td>
                <td>{{ pref.user_id }}</td>
                <td>{{ pref.image_id }}</td>
                <td>{{ pref.photoshopper_id }}</td>
            </tr>
          {% endfor %}
       </tbody>
    </table>

    <h2>Lista Immagini</h2>
    <table border="1">
       <thead>
          <tr>
              <th>ID Immagine</th>
              <th>Nome Immagine</th>
          </tr>
       </thead>
       <tbody>
          {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.name }}</td>
                <td>
                    <form method="POST" action="/delete_image">
                        <input name="image_id" type="hidden" value="{{ image.id }}">
                        <input type="submit" value="Elimina Immagine">
                    </form>
                </td>
            </tr>
          {% endfor %}
       </tbody>
    </table>

{% endblock %}

